<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>아이디(이메일)</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>등록일</th>
            <th>생일</th>
            <th>광고 수신 동의 유무</th>
            <th>개인정보 취급 동의 유무</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.member_id}"></td>
            <td th:text="${member.member_email}"></td>
            <td th:text="${member.member_nm}"></td>
            <td th:text="${member.member_telno}"></td>
            <td th:text="${member.member_subs_dt}"></td>
            <td th:text="${member.member_birth}"></td>
            <td th:text="${member.member_ad_ag}"></td>
            <td th:text="${member.member_id_ag}"></td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->

<div>
    <button class="btn-default btn-lg" th:onclick="|location.href='@{/members/admin}'|" type="button">돌아가기</button>
</div>
</body>
</html>